<div class="ui centered grid container">
  <div class="doubling two column row">
    <div class="column">
      <h1>The princess has gone missing!</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Qui laboriosam fugit explicabo eum sed consequatur saepe, quo tenetur
        debitis magnam, porro sunt sapiente molestias labore, suscipit
        temporibus ea quaerat nam!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Qui laboriosam fugit explicabo eum sed consequatur saepe, quo tenetur
        debitis magnam, porro sunt sapiente molestias labore, suscipit
        temporibus ea quaerat nam!
      </p>
    </div>
    <div class="column">
      <div class="ui segment">
        <form action="" class="ui form">
          <div class="field">
            <input type="text" placeholder="E-mail">
          </div>
          <div class="fields">
            <div class="twelve wide field">
              <input type="text" placeholder="Password">
            </div>
            <div class="four wide field">
              <button class="ui fluid blue button">Sign in</button>
            </div>
          </div>
        </form>
      </div>
      <div class="ui clearing segment">
        <h2>New to save the princess? Sign up!</h2>
        <form action="" class="ui form">
          <div class="field">
            <input type="text" placeholder="Name">
          </div>
          <div class="field">
            <input type="text" placeholder="E-mail">
          </div>
          <div class="field">
            <input type="text" placeholder="Password">
          </div>
          <div class="field">
            <button class="ui right floated green button">Sign up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
