<div class="ui centered grid container">
  <div class="doubling two column row">
    <div class="column">
      <h1>The princess has gone missing!</h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Qui laboriosam fugit explicabo eum sed consequatur saepe, quo tenetur
        debitis magnam, porro sunt sapiente molestias labore, suscipit
        temporibus ea quaerat nam!
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Qui laboriosam fugit explicabo eum sed consequatur saepe, quo tenetur
        debitis magnam, porro sunt sapiente molestias labore, suscipit
        temporibus ea quaerat nam!
      </p>
    </div>

    <div class="column">
      <div class="ui segment">
        <%= render 'sessions/form' %>
      </div>

      <div class="ui clearing segment">
        <h2>New to save the princess? Sign up!</h2>
        <%= render 'users/form' %>
      </div>
    </div>
  </div>
</div>
