<% flash.each do |key, message| %>
  <div id="flash" class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <%= content_tag :div, class: ['alert', flash_class(key), 'message'] do %>
          <%= message %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
